/** 变量 **/
//背景颜色
$bg: #f2f2f2; ///面页背景
$bg-white: #fff;  //白色背景

//文字颜色


//高度
$line-height: 40px;


//字体颜色
$fontBaseColor: #909399;

//字体大小
$fontSize: 14px;


//边框圆角
$border: 20px;

//导航栏主体色
$headerBg: #2A3C59;

//导航栏hover颜色
$navbarHover: #ccc;

//侧边栏背景颜色

$sideBarBg: #2A3C59;

//主体背景色

$mainBg: #eee;

//备注颜色
$remarkColor: red;

//边框
$border: 1px solid #ddd;

//padding
$padding-t: 10px;

//基本尺寸

$baseSize: 10px;

//基本border
$baseBorder: 1px solid #E1E1E1;